@import "reset.css";
@import "ember-power-select-overrides.css";
@import "components/quick-input.css";
@import "components/page-header.css";
@import "components/page-layout.css";
@import "components/query-editor.css";
@import "components/widget.css";
@import "components/dashboard.css";
@import "base/typography.css";
@import "base/tables.css";
@import "pages/index.css";
@import "components/card.css";

body {
  position: relative;
  font-size: var(--font-b-size);
  background-color: var(--background);
  line-height: var(--base-line-height);
  color: var(--foreground);
  font-family: var(--base-font-family);
  height: 100vh
}

input {
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: none;
}

*:focus {
  outline: var(--focusBorder);
  outline-offset: 2px;
}

input {
  width: 100%;
}

button {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background-color: var(--button-background);
  border: none;
}

button.secondary {
  background-color: var(--button-secondary);
}

summary > * {
  display: inline;
}

summary {
  padding: 10px 0;
}

summary:hover {
  cursor: pointer;

}