@import "reset.css";
@import "ember-power-select-overrides.css";
@import "components/quick-input.css";
@import "components/page-header.css";
@import "components/page-layout.css";
@import "components/query-editor.css";

body {
  position: relative;
  font-size: var(--font-b-size);
  background-color: var(--background);
  line-height: var(--base-line-height);
  color: var(--foreground);
  font-family: var(--base-font-family);
}

input {
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: none;
}

*:focus{
  outline: var(--focusBorder);
  outline-offset: 2px;
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-h1-weight);
}


input {
  width: 100%;
}


body {
  height:100vh
}

button {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background-color: var(--button-background);
  border: none;
}

th {
  border-color: rgba(255, 255, 255, 0.69);
  text-align: left;
  border-bottom: 1px solid;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

td {
  border-color: rgba(255, 255, 255, 0.18);
}

th, td {
  padding: 5px 10px;
}


table > tbody > tr + tr > td {
  border-top: 1px solid;
}

button.secondary {
  background-color: var(--button-secondary);
}