.ember-power-select-options {
  background-color: var(--input-background);
}

.ember-basic-dropdown-content {
  border-radius: 0;
}

.ember-basic-dropdown-trigger {
  background-color: var(--input-background);
  border-radius: 0;
}


.ember-power-select-trigger {
  padding: 0;
}