

<div class="query-editor__page">
  <PageHeader>
    <:name><Input class="page-header__input" @value={{@entityName}} /></:name>
    <:actions><button onClick={{@save}} type="button">Save</button></:actions>
  </PageHeader>
  <div class="query-editor__container">
    {{yield}}
  </div>
</div>