<div style="margin-bottom:10px; display:flex;">
    <div>
      <label for={{@id}}>{{@label}}: </label>
    </div>
    <div style="flex-grow: 1">
      {{#with (component 'input' id=@id) as |inputCompnent|}}
        {{yield inputCompnent to="input"}}
      {{/with}}
    </div>
</div>