<div class="page-header__container">
  <div class="page-header__left-box">
    {{#if @name}}
      <h1>{{@name}}</h1>
    {{else}}
        {{yield to="name"}}
    {{/if}}
  </div>
  <div class="page-header__left-box">
    {{yield to="actions"}}
  </div>
</div>