.page-header__container {
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.page-header__left-box, .page-header__right-box {
  width:50%
}
.page-header__container button {
  width: 100px;
  float: right;
  height: 28px;
}

.page-header__input {
  width: 300px;
  font-size: var(--font-h1-size);
  height: var(--font-h1-size);
}