.query-editor__page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:100%;
}

.query-editor__container {
    display: flex;
    flex-grow: 1;
}

.query-editor__data-column {
    min-width: 150px;
}

.query-editor__center-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.query-editor__options-column {
    min-width: 150px;
}

.query-editor__editor {
    flex-grow: 1;
    background-color: var(--input-background);
    margin: 10px;
}

.query-editor__results {
    flex-grow: 1;
}

textarea {
  height: calc(100% - var(--font-h1-size));
  width: 100%;
  background-color: var(--input-background);
  color:  var(--input-foreground);;
  border: none;
  resize: none;
  box-sizing: border-box;
}

.runbox button {
  width: 100px;
  float: right;
}