.quick-input-widget {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 0px;
    width: 600px;
    z-index: 2000;
    padding-bottom: 6px;
    color: var(--foreground);
}

.quick-input-and-message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  height: var(--font-h1-size);
  padding: 6px;
}

.quick-input-filter {
  flex-grow: 1;
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: none;
}
