.widget {
  position: absolute;
  resize: both;
  overflow: hidden;
  border: var(--widget-border);
  background-color: var(--background);
}

.widget__header {
  padding: 10px;
  border-bottom: var(--widget-border);
  cursor: pointer;
}

.widget__content {
  overflow: auto;
  max-height: -webkit-fill-available;
}