<div class="container">
  <details>
      <summary><h4>Datasets</h4></summary>
      <ul>
    {{#each this.model.datasets as |dataset index|}}
      <li>{{index}}{{dataset.name}}</li>
    {{/each}}
      </ul>
  </details>

  <details>
      <summary><h4>Charts</h4></summary>
      <ul>
        {{#each this.model.charts as |chart|}}
          <li>{{chart.name}}</li>
        {{/each}}
      </ul>
  </details>
</div>
