<div class="container">
  <details>
      <summary><h4>Datasets</h4></summary>
      <RecordCollection @records={{this.model.datasets}}/>
  </details>

  <details>
      <summary><h4>Charts</h4></summary>
      <RecordCollection @records={{this.model.charts}}/>
  </details>

  <details>
    <summary><h4>Dashboards</h4></summary>
   <RecordCollection @records={{this.model.charts}}/>
</details>

  <details>
    <summary><h4>Datasources</h4></summary>
    <RecordCollection @records={{this.model.charts}}/>
</details>
</div>
